.ChatBaseMessage {
  gap: var(--sp-xs);

  &:hover {
    background-color: var(--bg-surface-hover);
  }
}

.ChatBaseMessage__avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;
  color: white;

  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: none;
  }
}
.ChatBaseMessage__avatar-1 {
  background-color: var(--usercolor1);
}
.ChatBaseMessage__avatar-2 {
  background-color: var(--usercolor2);
}
.ChatBaseMessage__avatar-3 {
  background-color: var(--usercolor3);
}
.ChatBaseMessage__avatar-4 {
  background-color: var(--usercolor4);
}
.ChatBaseMessage__avatar-5 {
  background-color: var(--usercolor5);
}
.ChatBaseMessage__avatar-6 {
  background-color: var(--usercolor6);
}
.ChatBaseMessage__avatar-7 {
  background-color: var(--usercolor7);
}
.ChatBaseMessage__avatar-8 {
  background-color: var(--usercolor8);
}
