{
  "extends": "stylelint-config-standard",
  "rules": {
    "color-hex-case": null,
    "indentation": 4,
    "comment-empty-line-before": null,
    "declaration-empty-line-before": null,
    "length-zero-no-unit": null,
    "rule-empty-line-before": null,
    "color-hex-length": null,
    "max-empty-lines": 1,
    "no-eol-whitespace": true,
    "number-no-trailing-zeros": null,
    "number-leading-zero": null,
    "selector-list-comma-newline-after": null,
    "at-rule-no-unknown": null,
    "no-descending-specificity": null,
    "no-empty-first-line": true
  }
}
