/* flex direction */
.flex-row {
  flex-direction: row;
}
.flex-row-reverse {
  flex-direction: row-reverse;
}
.flex-column {
  flex-direction: column;
}
.flex-column-reverse {
  flex-direction: column-reverse;
}

/* flex wrap */
.flex-wrap {
  flex-wrap: wrap;
}
.flex-wrap-reverse {
  flex-wrap: wrap-reverse;
}
.flex-nowrap {
  flex-wrap: nowrap;
}

/* justify content */
.justify-start {
  justify-content: flex-start;
}
.justify-end {
  justify-content: flex-end;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.justify-around {
  justify-content: space-around;
}
.justify-evenly {
  justify-content: space-evenly;
}

/* align items */
.items-start {
  align-items: flex-start;
}
.items-end {
  align-items: flex-end;
}
.items-center {
  align-items: center;
}
.items-baseline {
  align-items: baseline;
}
.items-stretch {
  align-items: stretch;
}

/* flex grow */
.grow {
  flex-grow: 1;
  min-height: 0;
  min-width: 0;
}
.grow-0 {
  flex-grow: 0;
}

/* flex shrink */
.shrink {
  flex-shrink: 1;
}
.shrink-0 {
  flex-shrink: 0;
}

.basis-0 {
  flex-basis: 0;
}

.gap-xxs {
  gap: var(--sp-xxs);
}
.gap-xs {
  gap: var(--sp-xs);
}
.gap-sm {
  gap: var(--sp-sm);
}
.gap-md {
  gap: var(--sp-md);
}
.gap-lg {
  gap: var(--sp-lg);
}
.gap-xl {
  gap: var(--sp-xl);
}
