.Icon {
  display: inline-block;
  mask-repeat: no-repeat;
  mask-size: cover;
  background-color: var(--ic-surface);

  background-size: cover;
  background-repeat: no-repeat;
}
.Icon--md {
  width: var(--ic-md);
  height: var(--ic-md);
}
.Icon--sm {
  width: var(--ic-sm);
  height: var(--ic-sm);
}
