@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

@import "./style/display.css";
@import "./style/flex.css";
@import "./style/text.css";

@custom-selector :--heading h1, h2, h3, h4, h5, h6;

:root {
  /* background colors */
  --bg-surface: #ffffff;
  --bg-surface-low: #f0f1f2;
  --bg-surface-border: hsl(206deg 11% 87%);
  --bg-surface-hover: #00000010;
  --bg-surface-active: #00000016;
  --bg-surface-scroll-track: transparent;
  --bg-surface-scroll-thumb: #0000001e;

  --bg-primary: hsl(209deg 93% 53%);
  --bg-primary-hover: hsl(209deg 93% 45%);
  --bg-primary-active: hsl(209deg 93% 40%);
  --bg-primary-soft-hover: hsl(209deg 93% 53% / 6%);
  --bg-primary-soft-active: hsl(209deg 93% 53% / 16%);

  --bg-secondary: hsl(163deg 87% 40%);
  --bg-secondary-hover: hsl(163deg 87% 35%);
  --bg-secondary-active: hsl(163deg 87% 30%);
  --bg-secondary-soft-hover: hsl(163deg 87% 35% / 6%);
  --bg-secondary-soft-active: hsl(163deg 87% 30% / 16%);

  --bg-danger: hsl(2deg 100% 67%);
  --bg-danger-hover: hsl(2deg 100% 62%);
  --bg-danger-active: hsl(2deg 100% 55%);
  --bg-danger-soft-hover: hsl(2deg 100% 62% / 6%);
  --bg-danger-soft-active: hsl(2deg 100% 55% / 16%);

  --bg-tooltip: black;

  /* text colors */
  --tc-surface: #0b1014;
  --tc-surface-low: #717577;
  --tc-world: #ffffff;
  --tc-primary: var(--bg-primary);
  --tc-on-primary: #ffffff;
  --tc-secondary: var(--bg-secondary);
  --tc-on-secondary: #ffffff;
  --tc-danger: var(--bg-danger);
  --tc-on-danger: #ffffff;
  --tc-tooltip: white;
  --tc-link: hsl(213deg 76% 56%);

  /* icon color */
  --ic-surface: hsl(0deg 0% 12%);
  --ic-surface-low: #717577;
  --ic-world: #ffffff;
  --ic-primary: var(--bg-primary);
  --ic-on-primary: #ffffff;
  --ic-secondary: var(--bg-secondary);
  --ic-on-secondary: #ffffff;
  --ic-danger: var(--bg-danger);
  --ic-on-danger: #ffffff;
  --ic-tooltip: #ffffff;
  --ic-link: hsl(213deg 76% 56%);

  /* spacing */
  --sp-xl: 40px;
  --sp-lg: 30px;
  --sp-md: 20px;
  --sp-sm: 15px;
  --sp-xs: 10px;
  --sp-xxs: 5px;

  /* icon sizes */
  --ic-md: 20px;
  --ic-sm: 15px;
  --ic-xs: 10px;

  /* avatar sizes */
  --av-xl: 70px;
  --av-lg: 50px;
  --av-md: 40px;
  --av-sm: 30px;
  --av-xs: 25px;
  --av-xxs: 20px;

  /* border radius */
  --br-lg: 16px;
  --br-md: 12px;
  --br-sm: 10px;
  --br-xs: 8px;

  /* font sizes */
  --fs-h2: 24px;
  --fs-s1: 20px;
  --fs-b1: 16px;
  --fs-b2: 14px;
  --fs-b3: 12px;

  /* line heights */
  --lh-h2: 28px;
  --lh-s1: 24px;
  --lh-b1: 24px;
  --lh-b2: 20px;
  --lh-b3: 18px;

  /* letter spacing */
  --ls-h2: 0;
  --ls-s1: 0;
  --ls-b1: 0;
  --ls-b2: 0;
  --ls-b3: 0;

  /* font weights */
  --fw-bold: 700;
  --fw-semi-bold: 600;
  --fw-medium: 500;
  --fw-regular: 400;
  --fw-light: 300;

  /* box shadow */
  --bs-surface-border: inset 0 0 0 1px var(--bg-surface-border);
  --bs-primary-border: inset 0 0 0 1px var(--bg-primary);
  --bs-secondary-border: inset 0 0 0 1px var(--bg-secondary);
  --bs-danger-border: inset 0 0 0 1px var(--bg-danger);

  /* other */
  --usercolor1: #368bd6;
  --usercolor2: #ac3ba8;
  --usercolor3: #03b381;
  --usercolor4: #e64f7a;
  --usercolor5: #ff812d;
  --usercolor6: #2dc2c5;
  --usercolor7: #5c56f5;
  --usercolor8: #74d12c;
}

html,
#root {
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  height: 100%;
  background-color: var(--bg-surface);
  color: var(--tc-surface);
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-variant-ligatures: no-contextual;

  font-size: var(--fs-b1);
  line-height: var(--lh-b1);
  letter-spacing: var(--ls-b1);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0 0 0 / 0%);
  -webkit-tap-highlight-color: transparent;
}
*:focus {
  outline: var(--tc-surface) solid 2px;
  outline-offset: -2px;
}

:--heading {
  margin: 0;
  padding: 0;
}

a {
  color: var(--tc-link);
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

b {
  font-weight: var(--fw-semi-bold);
}

p,
label {
  margin: 0;
  padding: 0;
}

button,
textarea {
  margin: 0;
  padding: 0;
  background-color: transparent;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  border: none;
}

button {
  max-width: 100%;
  text-transform: none;
  text-align: inherit;
  overflow: visible;
  appearance: button;
}

textarea,
input,
input[type],
input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
input[type="search"] {
  appearance: none;
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  user-select: none;
}
