.ColorPreview {
  flex-shrink: 0;
  width: 30px;
  height: 30px;
  border-radius: var(--br-xxs);
  overflow: hidden;
  cursor: pointer;
  background-image: repeating-linear-gradient(
      45deg,
      var(--bg-surface-low) 25%,
      transparent 25%,
      transparent 75%,
      var(--bg-surface-low) 75%,
      var(--bg-surface-low)
    ),
    repeating-linear-gradient(
      45deg,
      var(--bg-surface-low) 25%,
      transparent 25%,
      transparent 75%,
      var(--bg-surface-low) 75%,
      var(--bg-surface-low)
    );

  background-position: 0 0, 5px 5px;
  background-size: calc(2 * 5px) calc(2 * 5px);
  box-shadow: inset 0 0 0 1px var(--bg-surface-low);
  outline-offset: 1.5px;

  &:disabled {
    opacity: 0.4;
    cursor: not-allowed;
  }

  & > span {
    display: inline-block;
    width: 100%;
    height: 100%;
  }
}

.ColorPicker {
  padding: 4px;
  background-color: var(--bg-surface);
  border-radius: var(--br-md);
  box-shadow: var(--bs-dropdown);
}

.ColorInput {
  & > * {
    border-radius: 0;
    border: 1px solid var(--bg-surface-border);
    height: 30px;
    box-shadow: none;

    &:not(:last-child) {
      border-right-width: 0;
    }

    &:first-child {
      border-radius: var(--br-xxs) 0 0 var(--br-xxs);
    }
    &:last-child {
      border-radius: 0 var(--br-xxs) var(--br-xxs) 0;
    }
  }
}
