.WorldView {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
}

.WorldView > * {
  pointer-events: all;
}

.WorldView__chat {
  --chat-width: 385px;
  max-width: var(--chat-width);
  width: 100%;
  max-height: calc(100% - 70px);

  position: absolute;
  bottom: var(--sp-md);
  left: var(--sp-md);
}

.WorldView__controls {
  position: absolute;
  bottom: var(--sp-md);
  right: var(--sp-md);

  & div {
    margin: var(--sp-xxs);
  }

  & .IconButton {
    padding: var(--sp-xs);
  }
}
