.EditorHeader {
  display: flex;
  min-height: 32px;
  border-bottom: 1px solid var(--bg-surface-border);
}

.EditorHeaderTab {
  display: flex;
  align-items: center;
  gap: var(--sp-xxs);
  padding: 0 var(--sp-xs);
  cursor: pointer;
}
.EditorHeaderTab--active {
  border-bottom: 1px solid var(--bg-primary);
}
