.NotificationBadge {
  min-width: 10px;
  height: 10px;
  border-radius: 10px;

  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.NotificationBadge--with-content {
  padding: 0 3px;
  min-width: 20px;
  height: 20px;
  & .Text {
    font-size: 10px;
    line-height: 10px;
  }
}

.NotificationBadge--primary {
  background-color: var(--bg-primary);
}
.NotificationBadge--secondary {
  background-color: var(--bg-secondary);
}
.NotificationBadge--danger {
  background-color: var(--bg-danger);
}
