.StatusBadge {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.StatusBadge--offline {
  background-color: var(--bg-surface-low);
}
.StatusBadge--online {
  background-color: var(--bg-secondary);
}
.StatusBadge--dnd {
  background-color: var(--bg-danger);
}
