.Content {
  display: flex;
  flex-direction: column;
}

.Content__top,
.Content__bottom {
  flex-shrink: 0;
}
.Content__children {
  flex-grow: 1;
  min-height: 0;
  min-width: 0;
  & > .Content {
    height: 100%;
  }
}
