.DropdownMenu {
  background-color: var(--bg-surface);
  border-radius: var(--br-xs);
  box-shadow: var(--bs-dropdown);
}

.DropdownMenu__arrow {
  fill: var(--bg-surface);
}

.DropdownMenu__trigger {
  display: inline-flex;
  line-height: 0;
}
