.Text {
  margin: 0;
  padding: 0;
}
.Text-h1 {
  font-size: var(--fs-h1);
  letter-spacing: var(--ls-h1);
  line-height: var(--lh-h1);
}
.Text-h2 {
  font-size: var(--fs-h2);
  letter-spacing: var(--ls-h2);
  line-height: var(--lh-h2);
}
.Text-s1 {
  font-size: var(--fs-s1);
  letter-spacing: var(--ls-s1);
  line-height: var(--lh-s1);
}
.Text-s2 {
  font-size: var(--fs-s2);
  letter-spacing: var(--ls-s2);
  line-height: var(--lh-s2);
}
.Text-c1 {
  font-family: var(--font-serif);
  font-size: var(--fs-c1);
  letter-spacing: var(--ls-c1);
  line-height: var(--lh-c1);
}
.Text-b1 {
  font-size: var(--fs-b1);
  letter-spacing: var(--ls-b1);
  line-height: var(--lh-b1);
}
.Text-b2 {
  font-size: var(--fs-b2);
  letter-spacing: var(--ls-b2);
  line-height: var(--lh-b2);
}
.Text-b3 {
  font-size: var(--fs-b3);
  letter-spacing: var(--ls-b3);
  line-height: var(--lh-b3);
}

.Text--surface {
  color: var(--tc-surface);
}
.Text--surface-low {
  color: var(--tc-surface-low);
}
.Text--world {
  color: var(--tc-world);
}
.Text--primary {
  color: var(--tc-primary);
}
.Text--on-primary {
  color: var(--tc-on-primary);
}
.Text--secondary {
  color: var(--tc-secondary);
}
.Text--on-secondary {
  color: var(--tc-on-secondary);
}
.Text--danger {
  color: var(--tc-danger);
}
.Text--on-danger {
  color: var(--tc-on-danger);
}
.Text--tooltip {
  color: var(--tc-tooltip);
}
.Text--link {
  color: var(--tc-link);
}

.Text--light {
  font-weight: var(--fw-light);
}
.Text--regular {
  font-weight: var(--fw-regular);
}
.Text--medium {
  font-weight: var(--fw-medium);
}
.Text--semi-bold {
  font-weight: var(--fw-semi-bold);
}
.Text--bold {
  font-weight: var(--fw-bold);
}
