:root {
  --vp-c-brand: hsl(209deg 93% 53%);
  --vp-c-brand-light: hsl(209deg 93% 60%);
  --vp-c-brand-lighter: hsl(209deg 93% 65%);
  --vp-c-brand-dark: hsl(209deg 93% 45%);
  --vp-c-brand-darker: hsl(209deg 93% 40%);
}

.dark {
  --vp-c-brand: hsl(266deg 94.5% 78.4%);
  --vp-c-brand-light: hsl(266deg 100% 70%);
  --vp-c-brand-lighter: hsl(266deg 100% 75%);
  --vp-c-brand-dark: hsl(266deg 100% 50%);
  --vp-c-brand-darker: hsl(266deg 100% 45%);
  --vp-home-hero-name-color: hsl(266deg 100% 60%);
  --vp-button-brand-bg: hsl(266deg 100% 60%);
}
