.WorldPreviewCard {
  max-width: 515px;
  width: 100%;
  padding: var(--sp-md);
  background-color: var(--bg-surface);
  box-shadow: var(--bs-surface);
  border-radius: var(--br-xs);
}

.WorldPreviewCard__content {
  & > *:not(:last-child) {
    margin-bottom: var(--sp-xs);
  }
}

.WorldPreviewCard__memberCount {
  & .Icon {
    margin-right: var(--sp-xxs);
  }
}
