.LeftRightContent {
  --text-ratio: 4;
  --image-ratio: 3;
  display: flex;
  align-items: center;
  gap: 80px;
}
.LeftRightContent--flipped {
  flex-direction: row-reverse;
}
.LeftRightContent--flipRatio {
  --text-ratio: 3;
  --image-ratio: 4;
}

.LeftRightContent__text {
  flex: 1 0 0;
  flex-grow: var(--text-ratio);
  min-width: 0;
}

.LeftRightContent__image {
  flex: 1 0 0;
  flex-grow: var(--image-ratio);

  overflow: hidden;
  border-radius: var(--br-sm);
  line-height: 0;

  & img {
    width: 100%;
    height: 100%;
    max-width: max-content;
    object-fit: cover;
  }
}
@media screen and (max-width: 950px) {
  .LeftRightContent {
    --text-ratio: 3;
    --image-ratio: 2;
  }
  .LeftRightContent--flipRatio {
    --text-ratio: 2;
    --image-ratio: 3;
  }
}
@media screen and (max-width: 750px) {
  .LeftRightContent {
    flex-direction: column;
    gap: var(--sp-lg);
  }
  .LeftRightContent__text,
  .LeftRightContent__image {
    flex: auto;
  }
}
