.PaginationDot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--bg-surface-border);
  cursor: pointer;
}
.PaginationDot--active {
  background-color: var(--bg-primary);
}
