.Button {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  border-radius: var(--br-xs);
  cursor: pointer;
  transition: background-color 100ms ease-in-out;

  & .Icon {
    flex-shrink: 0;
  }

  & > .Text {
    white-space: nowrap;
  }

  &:disabled {
    opacity: 0.4;
    cursor: not-allowed;
  }

  & .Text:not(:only-child) {
    padding: 0 var(--sp-xs);
  }
}

.Button--primary.Button--solid {
  background-color: var(--bg-primary);

  @media (hover: hover) {
    &:hover {
      background-color: var(--bg-primary-hover);
    }
  }
  &:focus {
    background-color: var(--bg-primary-hover);
  }
  &:active {
    background-color: var(--bg-primary-active);
  }
}

.Button--secondary.Button--solid {
  background-color: var(--bg-secondary);

  @media (hover: hover) {
    &:hover {
      background-color: var(--bg-secondary-hover);
    }
  }
  &:focus {
    background-color: var(--bg-secondary-hover);
  }
  &:active {
    background-color: var(--bg-secondary-active);
  }
}

.Button--danger.Button--solid {
  background-color: var(--bg-danger);

  @media (hover: hover) {
    &:hover {
      background-color: var(--bg-danger-hover);
    }
  }
  &:focus {
    background-color: var(--bg-danger-hover);
  }
  &:active {
    background-color: var(--bg-danger-active);
  }
}

.Button--primary.Button--outline {
  box-shadow: var(--bs-primary-border);

  @media (hover: hover) {
    &:hover {
      background-color: var(--bg-primary-soft-hover);
    }
  }
  &:focus {
    background-color: var(--bg-primary-soft-hover);
  }
  &:active {
    background-color: var(--bg-primary-soft-active);
  }
}

.Button--secondary.Button--outline {
  box-shadow: var(--bs-secondary-border);

  @media (hover: hover) {
    &:hover {
      background-color: var(--bg-secondary-soft-hover);
    }
  }
  &:focus {
    background-color: var(--bg-secondary-soft-hover);
  }
  &:active {
    background-color: var(--bg-secondary-soft-active);
  }
}

.Button--danger.Button--outline {
  box-shadow: var(--bs-danger-border);

  @media (hover: hover) {
    &:hover {
      background-color: var(--bg-danger-soft-hover);
    }
  }
  &:focus {
    background-color: var(--bg-danger-soft-hover);
  }
  &:active {
    background-color: var(--bg-danger-soft-active);
  }
}

.Button--xs {
  border-radius: var(--br-xxs);
  height: 24px;
  padding: 0 var(--sp-xs);
}
.Button--sm {
  height: 32px;
  padding: 0 var(--sp-sm);
}
.Button--md {
  height: 40px;
  padding: 0 var(--sp-sm);
}
.Button--lg {
  height: 48px;
  padding: 0 var(--sp-md);
}
.Button--xl {
  height: 60px;
  padding: 0 var(--sp-lg);
}
.Button--xxl {
  height: 80px;
  padding: 0 var(--sp-xl);
}
