.IconButton {
  line-height: 0;
  cursor: pointer;
  transition: transform 100ms ease-in-out;

  &:hover,
  &:focus {
    transform: scale(1.1);
  }
  &:active {
    transform: scale(1);
  }
}

.IconButton--surface .Icon {
  background-color: var(--ic-surface);
}
.IconButton--surface-low .Icon {
  background-color: var(--ic-surface-low);
}
.IconButton--world .Icon {
  background-color: var(--ic-world);
}
.IconButton--primary .Icon {
  background-color: var(--ic-primary);
}
.IconButton--secondary .Icon {
  background-color: var(--ic-secondary);
}
.IconButton--danger .Icon {
  background-color: var(--ic-danger);
}
