.Thumbnail {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  background-color: var(--bg-surface-low);
  border-radius: var(--br-lg);
  overflow: hidden;
  position: relative;
}

.Thumbnail--lg {
  width: var(--th-lg);
  height: var(--th-lg);
}

.Thumbnail--md {
  width: var(--th-md);
  height: var(--th-md);
}

.Thumbnail--sm {
  width: var(--th-sm);
  height: var(--th-sm);
}

.Thumbnail--outlined::after {
  content: "";
  position: absolute;
  top: 0;
  display: block;
  height: 100%;
  width: 100%;
  border-radius: inherit;
  box-shadow: inset 0 0 0 4px var(--bg-primary);
}

.Thumbnail--wide {
  width: 100%;
}
