.Thumbnail {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  background-color: var(--bg-surface-low);
  border-radius: var(--br-lg);
  overflow: hidden;
}

.Thumbnail--md {
  width: var(--th-md);
  height: var(--th-md);
}

.Thumbnail--sm {
  width: var(--th-sm);
  height: var(--th-sm);
}
