.BlogSection {
  margin: 150px 0;
}
.BlogSection__content {
  padding: var(--sp-xl) var(--side-spacing);
  max-width: var(--content-max-width);
  width: 100%;

  & .Text-h2 {
    margin-bottom: var(--sp-md);
    &:not(:first-child) {
      margin-top: 50px;
    }
  }
  & p {
    margin-top: var(--sp-md);
  }
}
.BlogSection__spaced-list > li {
  margin-bottom: var(--sp-xs);
}

.BlogImage {
  overflow: hidden;
  border-radius: var(--br-sm);
  background-color: var(--bg-surface-low);
  line-height: 0;
  width: 400px;
  object-fit: cover;
  margin: var(--sp-md);
}

.BlogImage--right {
  float: right;
  margin-right: 0;
}
.BlogImage--left {
  float: left;
  margin-left: 0;
}

@media screen and (max-width: 680px) {
  .BlogImage {
    width: 100%;
    margin: var(--sp-md) 0;
    float: none;
  }
}
