.HeroSection {
  background: radial-gradient(100% 100% at 50% 100%, #188bf729 0.24%, #ffffff00 100%);

  position: relative;
}

.HeroSection__main,
.HeroSection__video {
  max-width: var(--hero-max-width);
  width: 100%;
  padding: 0 var(--side-spacing);
  position: relative;
  z-index: 1;
}

.HeroSection__main {
  padding-top: 100px;
  gap: 45px;
}

.HeroSection__heading {
  max-width: 570px;
  font-weight: 700;
  font-size: var(--fs-display);
  line-height: var(--lh-display);

  text-align: center;
}

.HeroSection__curve {
  width: 100%;
  line-height: 0;
  position: absolute;
  bottom: 0;

  & > svg {
    width: 100%;
  }
}

.PreviewVideoPlayer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-surface-low);

  width: 100%;
  border-radius: var(--br-md);
  overflow: hidden;
  position: relative;

  & > video {
    width: 100%;
  }
}
.PreviewVideoPlayer__play-btn {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: var(--bg-surface);
  position: absolute;
  z-index: 2;

  & > button {
    width: 100%;
    height: 100%;
  }
}

.HeroSection__video {
  & .PreviewVideoPlayer {
    margin: auto;
    bottom: -70px;
  }
}
