.Site {
  --side-spacing: var(--sp-lg);
  --hero-max-width: calc(940px + 2 * var(--side-spacing));
  --content-max-width: calc(800px + 2 * var(--side-spacing));

  --fs-display: 48px;
  --lh-display: 56px;

  height: 100%;
}

@media screen and (max-width: 750px) {
  .Site {
    --fs-display: 36px;
    --lh-display: 44px;
  }
}
@media screen and (max-width: 550px) {
  .Site {
    --side-spacing: var(--sp-md);
  }
}
